<!-- Loop over each object in the projects array -->
<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Recent Questions</h2>
{{#each posts as |post| }}
 





      <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"></div>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time class="text-gray-500">{{format_date question.createdDate}}</time>
          <a href="/tag/{{tag.id}}" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{tag.name}}</a>
        </div>

        <div class="relative mt-8 flex items-center gap-x-4"></div>
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="/user/{{user.id}}">
                <span class="absolute inset-0"></span>
                {{question.user.username}}
              </a>
            </p>
          </div>
        </div>

        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="/post/{{question.id}}">
              <span class="absolute inset-0"></span>
              {{question.content}}
            </a>
          </h3>
          {{#each answers as |answer| }}
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{answer.content}}</p>
          {{/each}}
        </div>
        
      </article>          
{{/each}}